<form action="/search" method="get" id="search_form">
  <input type="text" name="q" value="<%=h params[:q] %>" style="width: 200px;" />
  <input type="submit" value="Search" class="submit" />
</form>
