<div id="admin_menu">
  <%= render :partial => 'search/form' %>
  <%= link_to 'Clients', admin_clients_path %>
  <%= link_to 'Projects', admin_projects_path %>
  <%= link_to 'Users', admin_users_path %>
  <br style="clear: both;" />
</div>
