/* Created by Ben Shymkiw - ben@tapiocacollective.com */

/* HTML TAGS */

body {
  margin: 0;
  padding: 0;
}

form {
  max-width: 600px;
}

/* CLASSES */

.user, .project {
  margin-bottom: 1em;
}
.user img, .project .images {
  float: left;
  margin-right: 1em;
}
.project .images img {
  margin-bottom: 1em;
}
.project .images a {
  background-color: transparent;
}
.user img {
  border: solid 1px #666;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
}

.project h2 {
  margin-bottom: 0;
}
.project #project_url {
  font-size: 11px;
  margin-bottom: 1.5em;
}

/* IDs */

#login_status {
  margin-top: -1em;
  margin-bottom: 1em;
  text-align: right;
  font-size: 12px;
}

#sidebar {
  padding: 1em;
  margin-left: 1em;
  background-color: #ddd;
  border: dotted 1px #999;
}
