body {
  background: white;
  font-family: futura, arial, sans-serif;
}

#header {
  position: fixed;
  top: 29px;
  left: 64px;
  z-index: 1;
  width: 863px;
}
  #header #menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 545px;
    height: 35px;
    background: url('/images/backgrounds/top_menu.png') no-repeat;
  }
    #header #menu li {
      width: 134px;
      height: 35px;
      float: left;
      list-style: none;
    }
      #header #menu li a {
        width: 100%;
        height: 100%;
        color: transparent;
        background: none;
        display: block;
      }

.section .content{
  width: 50%;
  margin: 200px auto;
}
#home {
  background: url('/images/backgrounds/home.png') no-repeat top left;
}

#about {
  background: url('/images/backgrounds/about.png') no-repeat bottom left;
}

#work {
  background: url('/images/backgrounds/work.png') no-repeat bottom right;
}

#contact {
  background: url('/images/backgrounds/contact.png') no-repeat top right;
}

#footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 960px;
  border-bottom: solid 1px #FFCB6B;
  color: #FFCB6B;
}
  #footer a {
    color: #FFCB6B;
  }
  #footer_copyright {
    position: absolute;
    height: 1em;
    bottom: -1.1em;
    left: 0;
  }
  #footer_elsewhere {
    position: absolute;
    height: 1em;
    bottom: -1.1em;
    right: 0;
  }
