<div id="footer">
  <div id="footer_copyright">
    <a href="/about">
      &copy; 2009 Tapioca Collective Members
    </a>
  </div>
  <div id="footer_elsewhere">
    Find us on
    <a href="http://github.com/tapiocacollective" target="_blank">Github</a> |
    <a href="http://twitter.com/tapiocacollect" target="_blank">Twitter</a> |
    <a href="http://www.workingwithrails.com/company/10001-tapioca-collective" target="_blank">Working with Rails</a>
  </div>
</div>
