<div id="sidebar">
  <h2>Featured Projects</h2>

  <p>
    <a href="http://github.com/iamsolarpowered/videoclip/tree/master" target="_blank">
      <strong>Videoclip</strong><br />
      easy video transcoding<br />
      <%= image_tag 'videoclip.png' %>
    </a>
  </p>

  <p>
    <a href="http://av.nos.tapiocacollective.com" target="_blank">
      <strong>NOS Energy Drink</strong><br />
      photo campaign<br />
      <%= image_tag 'nos_logo.png' %>
    </a>
  </p>
</div>
