<h1>Get in touch with Tapioca Collective</h1>

<% form_tag "/send_message", :id => "contact_form", :method => :post do -%>
  <p>
    <label>Your name</label><small>*</small><br />
    <input type="text" name="name" class="required" />
  </p>

  <p>
    <label>Your email address</label><small>*</small><br />
    <input type="text" name="email" class="required validate-email" />
    <small>Don't worry, we won't send you any email you don't ask for.</small>
  </p>

  <p>
    <label>Your phone number</label><br />
    <input type="text" name="phone" />
  </p>

  <p>
    <label>Preferred contact method</label><br />
    <input type="radio" name="contact_preference" value="email" checked="checked" /> Email<br />
    <input type="radio" name="contact_preference" value="phone" /> Phone
  </p>

  <p>
    <label>Your Web address</label><br />
    <input type="text" name="url" value="http://" />
  </p>

  <p>
    <label>Your message</label><br />
    <textarea name="message" id="contact_message"></textarea>
  </p>

  <p>
    <small style="float: right;">* Required fields</small>
    <input type="submit" value="Send" class="submit" />
  </p>
<% end -%>

<% content_for :js do -%>
  <%= javascript_include_tag 'validation' %>
<% end -%>

<script type="text/javascript">
<!--
  new Validation('contact_form');
-->
</script>
