<h1>Beautiful code. Beautiful design. Together at last.</h1>

<div id="the_pitch">
  <p>
    Tapioca Collective is a group of designers and developers, based in several North American and European cities, working to make the Web better.
  </p>
  <p>
    Want the latest, coolest technology like Flash and AJAX? Awesome, we love that stuff.
  </p>
  <p>
    Need a corporate intranet or a simple, solid foundation for your startup? We're into that, too. And, it'll be done faster than you ever thought possible.
  </p>
  <p>
    Run a non-profit organisation or have an idea that you think will make a positive impact on the world? <a href="/contact">Let us know</a>; we'd love to help, even if you can't pay us much.
  </p>
  <p>
    Completely lost and feeling out of your league? We've helped others see the light and we can do the same for you. Just <a href="/contact">contact us</a> to get the ball rolling.
  </p>
  <p>
    We love <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>, which dramatically cuts down development time, helping you save money and beat your competition to market. We pride ourselves on building clean, easy to maintain, innovative solutions. Whether you've got a revolutionary idea or just need a simple site, we've got the smarts and expertise to help you accomplish your goals, on time and on budget.
  </p>
  <p>
    We're active members of the <a href="http://en.wikipedia.org/wiki/Open_source" target="_blank">open source</a> community, using and contributing to open source projects whenever we can. So, as your organisation grows, you won't be hit with exorbitant license fees or get locked into a particular vendor's products.
  </p>
  <p>
    Web 2.0 isn't (all) hype. It's a dramatic metamorphosis in the tools and techniques of information exchange. We're here to show you how it's done.
  </p>
</div>
