<h1>Elegant code. Earnest design.</h1>

<div id="the_pitch">
  <p>
    Tapioca Collective is a group of designers and developers, based in several North American and European cities, working to make media better.
  </p>
  <p>
    We love <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>, which dramatically cuts down development time, helping you save money and beat your competition to market. We pride ourselves on building clean, easy to maintain, innovative solutions. Whether you've got a revolutionary idea or just need a simple site, we've got the smarts and expertise to help you accomplish your goals, on time and on budget.
  </p>
  <p>
    We're active members of the <a href="http://en.wikipedia.org/wiki/Open_source" target="_blank">open source</a> community, using and contributing to open source projects whenever we can. Somewhat confusingly, we also work with licence software (such as Adobe products). It's all in the interest of better serving our customers and our community.
  </p>
  <p>    
    What does all this have to do with your project? Shared cost savings. Upfront licencing fees asside, working with open source software means you won't be hit with exorbitant license fees or get locked into a particular vendor's products as your organization grows.
  </p>
</div>
